force-app/main/default/flows/File_Add_Subtitle_Screenflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Content_Document_Url_and_Video_Relation</name>
        <label>Set Content Document Url and Video Relation</label>
        <locationX>176</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>Get_New_Subtitle.NKS_Content_Document_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>URL_FORMULA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_New_Subtitle.NKS_Related_Video__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Subtitle_Files</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>TEST</name>
        <choiceText>TEST</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TEST</stringValue>
        </value>
    </choices>
    <constants>
        <name>SUBTITLE_FOLDER_NAME</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Subtitles</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Subtitle_Folder_Exist</name>
        <label>Check Subtitle Folder Exist</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Create_Subtitle_Folder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Folder</defaultConnectorLabel>
        <rules>
            <name>Subtitle_Folder_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Subtitle_Folder</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Subtitle_Folder.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_New_Subtitle</targetReference>
            </connector>
            <label>Subtitle Folder Exists</label>
        </rules>
    </decisions>
    <description>Screen flow for adding a subtitle file connected to a video.</description>
    <dynamicChoiceSets>
        <name>Subtitle_Language_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>NKS_Subtitle_Language__c</picklistField>
        <picklistObject>ContentVersion</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>SUBTITLE_FOLDER_ID</name>
        <dataType>String</dataType>
        <expression>IF({!Subtitle_Folder_Exists} == true,
{!Get_Subtitle_Folder.Id},
{!Create_Subtitle_Folder} )</expression>
    </formulas>
    <formulas>
        <name>URL_FORMULA</name>
        <dataType>String</dataType>
        <expression>&apos;/&apos; + {!Get_New_Subtitle.ContentDocument.Id}</expression>
    </formulas>
    <interviewLabel>File - Add Subtitle - Screenflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>File - Add Subtitle - Screenflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Adding the newly created file as a member of the library for later move into correct folder.</description>
        <name>Create_Content_Document_Link</name>
        <label>Create Content Document Link</label>
        <locationX>176</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Add_to_Folder</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Get_New_Subtitle.ContentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>Get_Library.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>I</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Subtitle_Folder</name>
        <label>Create Subtitle Folder</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Get_New_Subtitle</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SUBTITLE_FOLDER_NAME</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentContentFolderId</field>
            <value>
                <elementReference>Get_Content_Folder_Item.ParentContentFolderId</elementReference>
            </value>
        </inputAssignments>
        <object>ContentFolder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Content_Folder_Item</name>
        <label>Get Content Folder Item</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Subtitle_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentFolderItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ParentContentFolderId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Library</name>
        <label>Get Library</label>
        <locationX>176</locationX>
        <locationY>1334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Content_Document_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Innholdsbibliotek</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentWorkspace</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Subtitle</name>
        <label>Get New Subtitle</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Content_Document_Url_and_Video_Relation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Subtitle_Upload.contentVersionIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subtitle_Folder</name>
        <label>Get Subtitle Folder</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Subtitle_Folder_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentContentFolderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Content_Folder_Item.ParentContentFolderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SUBTITLE_FOLDER_NAME</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentFolder</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Query subtitles related to this video</description>
        <name>Get_Video_Subtitles</name>
        <label>Get Video Subtitles</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Content_Folder_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsLatest</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NKS_Related_Video__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_to_Folder</name>
        <label>Add to Folder</label>
        <locationX>176</locationX>
        <locationY>1574</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ChildRecordId</field>
            <operator>In</operator>
            <value>
                <elementReference>Subtitle_Upload.contentDocIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ParentContentFolderId</field>
            <value>
                <elementReference>SUBTITLE_FOLDER_ID</elementReference>
            </value>
        </inputAssignments>
        <object>ContentFolderMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Subtitle_Files</name>
        <label>Update Subtitle Files</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Get_Library</targetReference>
        </connector>
        <inputReference>Get_New_Subtitle</inputReference>
    </recordUpdates>
    <screens>
        <name>Add_Subtitle_Screen</name>
        <label>Add Subtitle Screen</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Subtitle_Folder</targetReference>
        </connector>
        <fields>
            <name>Subtitle_Upload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.srt,.vtt</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add subtitle file</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Last opp en eller flere .srt eller .vtt filer</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Subtitle_Language</name>
            <choiceReferences>Subtitle_Language_Choices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Engelsk</stringValue>
            </defaultValue>
            <fieldText>Språk</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Subtitle_Upload.contentDocIds</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Subtitle_List</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContentVersion</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Undertekster</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Video_Subtitles</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Title&quot;,&quot;guid&quot;:&quot;column-eeb0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;NKS_Subtitle_Language__c&quot;,&quot;guid&quot;:&quot;column-c085&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Subtitle Language&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FileExtension&quot;,&quot;guid&quot;:&quot;column-98c1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;File Extension&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;NKS_Content_Document_Link__c&quot;,&quot;guid&quot;:&quot;column-9bbc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Lenke&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Content Document Link&quot;,&quot;type&quot;:&quot;url&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Knytt til video</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Video_Subtitles</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Content_Document_Links</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <description>ID of the content document (file) to relate a new subtitle to.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VersionsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
</Flow>
